<body>
  <div id="section-wrapper">
    <div class="top-nav">
      <div class="wrapper">
        <button role="button" class="menu-toggle">
        <span class="icon-bars"></span>
        </button>
      </div>
      <div class="wrapper-logo">
        <a href="{{site.baseurl}}/designtips/" data-text="Grow Your Skills" class="button-hover">Grow Your Skills</a>
      </div>
    </div>
    <div class="right-nav">
    </div>
    <div class="bottom-nav">
      <a href="#" class="to-top">Top</a>
    	<a href="https://github.com/Peyman-98" target="_blank"><i class="fa fa-github-square fa-lg"></i></a>
    	<a href="https://www.facebook.com/Peyman68TA" target="_blank"><i class="fa fa-facebook-square fa-lg"></i></a>
    	<a href="https://twitter.com/ds_worm" target="_blank"><i class="fa fa-twitter-square fa-lg"></i></a>
    	<a href="https://www.linkedin.com/in/peyman68ta" target="_blank"><i class="fa fa-linkedin-square fa-lg"></i></a>
    </div>
    <div class="left-nav">
    	<a href="{{site.baseurl}}/designtips/search/" ><i data-toggle="tooltip" data-placement="bottom" title="Search" class="fa fa-search fa-lg"></i></a>
    	<a href="https://github.com/Peyman-98" target="_blank"><i data-toggle="tooltip" data-placement="top" title="Github" class="fa fa-github-square fa-lg"></i></a>
    	<a href="https://www.facebook.com/Peyman68TA" target="_blank"><i data-toggle="tooltip" data-placement="top" title="Facebook" class="fa fa-facebook-square fa-lg"></i></a>
    	<a href="https://twitter.com/ds_worm" target="_blank"><i data-toggle="tooltip" data-placement="top" title="Twitter" class="fa fa-twitter-square fa-lg"></i></a>
    	<a href="https://www.linkedin.com/in/peyman68ta" target="_blank"><i data-toggle="tooltip" data-placement="top" title="Linkedin" class="fa fa-linkedin-square fa-lg"></i></a>
    </div>
    <div class="light-box">
      <ul>
        <li><a href="{{site.baseurl}}/designtips/">خانه</a></li>
        <li><a href="{{site.baseurl}}/designtips/archives/">بلاگ</a></li>
        <li><a href="{{site.baseurl}}/designtips/blog/">تگ ها</a></li>
        <li><a href="{{site.baseurl}}/designtips/about/">درباره ما</a></li>
      </ul>
    </div>