---
layout: default
---
<section class="n1">
	<article class="article">
		<div class="post">
			<header class="post-header">
				<h2 class="post-title">{{ page.title }}</h2>
				<p class="post-meta">
					<span class="post-author"><i class="fa fa-pencil-square fa-lg"></i> {% if page.author %}
						{{ page.author }}
					{% endif %}
					</span>
					<span class="post-time"><i class="fa fa-clock-o fa-lg"></i> {{ page.date | date: "%Y-%m-%d" }}</span>
					<!--{% if page.meta %}
						{{ page.meta }}
					{% endif %}-->
				</p>
			</header>
			<article class="post-content">
				{{ content }}
			</article>
			<div class="post-tags-container">
				<span class="tag-label">تگ ها : </span>
				{% assign sorted_tags = page.tags | sort %}
				{% for tag in sorted_tags %}
					<span class="tag"><a class="btn btn-info btn-xs" href="{{site.baseurl}}/designtips/blog/#{{ tag }}">{{ tag }}</a></span>
				{% endfor %}
			</div>
		</div>
	</article>
	<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'peyman-ta';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>